
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".level0 a").removeClass("active");
            $("a#menusp").addClass("active");

        });
    </script>
}