@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Bộ sưu tập sản phẩm nội thất giá rẻ Bình Dương, Nội thất chung cư bình dương";
    
}
@section metatags
{
    <meta name="keywords" content="Nội thất giá rẻ Bình dương, nội thất chung cư Bình Dương, thiết kế nội thất tại bình dương" />
    <meta name="description" content="Liên hệ: 0979.77.11.33 chuyên cung cấp các sản phẩm nội thất giá rẻ tại Bình Dương, Nội thất chung cư tại Bình Dương, với đội ngũ thiết kế nội thất nhiều năm kinh nghiêm luôn tạo ra những sản phẩm nội thất giá rẻ tại Bình Dương cũng như toàn bộ khu vực. " />
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="/" title="Go to Home Page">Trang chủ</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>

                <li class="category13"><strong>Bộ sưu tập</strong></li>
            </ul>
        </div>
    </div>
</div>
<section class="main-container col2-left-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-12">
                <div class="category-title">
                    <h1>Bộ sưu tập</h1>
                </div>

                <div class="category-products" id="lstCollections">


                </div>
                <div class="toolbar">
                    <div class="col-md-2">
                        <select class="form-control" title="" id="ddlPageSize">
                            <option value="5">5 dòng</option>
                            <option value="10">10 dòng</option>
                            <option value="15" selected>15 dòng</option>
                            <option value="20">20 dòng</option>
                            <option value="-1">Tất cả</option>
                        </select>
                    </div>

                </div>
            </section>

        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">

    $(document).ready(function () {
         $.ajaxSetup({
                cache: false
         });

         $(".level0 a").removeClass("active");
         $("a#menubst").addClass("active");

        filter();

        $('body').on('change', '#ddlPageSize', function () {
            filter();
        });

        //Drop change Dept
            $('.drChange').change(function () {
                filter();
            });



    });

    function filter() {
        $.ajax({
            //url: '/BDS_TinTuc/_PartialIndex',
            url: '@Url.Action("_partialIndex", "Collections", new { area = "Cpanel" })',
            data: {
                pageSize: parseInt($('#ddlPageSize').val()),
            },
            method: 'GET',
            dataType: 'html',
            success: function (data) {
                $('#lstCollections').html(data);
                $("#lbl_Message").html("");
            }
        });

    }
    </script>
}


