@using System.Configuration
@using NoiThat.Models
@using NoiThat.Utilities
@model AboutUsViewModel
@{
    ViewBag.Title = "Liên hệ với chúng tôi";
    <script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
}
@section metatags
{
    <meta name="keywords" content="Nội thất giá rẻ, nội thất chung cư" />
    <meta name="description" content="Tân Thời chúng tôi luôn cung cấp tới thị trường các sản phẩm nội thất giá rẻ, nội thất chung cư với chất lượng cao" />
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a title="Go to Home Page" href="http://www.magikcommerce.com/">Home</a><span>—›</span></li>
                <li class="category13"><strong>Liên hệ</strong></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 wow">
                <div class="page-title">
                    <h2>Liên hệ với chúng tôi</h2>
                </div>
                @ViewBag.Message
                @using (Html.BeginForm("CustomerContact", "Home", FormMethod.Post, new { id = "Submitf", name = "Submitf", onsubmit = "return validateForm()" }))
                {
                    <div class="static-contain">
                        <fieldset class="group-select">
                            <ul>
                                <li id="billing-new-address-form">
                                    <fieldset>
                                        <legend>New Address</legend>
                                        <input type="hidden" name="billing[address_id]" value="" id="billing:address_id">
                                        <ul>
                                            <li>
                                                <div class="customer-name">
                                                    <div class="input-box name-firstname">
                                                        <label for="billing:firstname"> Họ Tên<span class="required">*</span></label>
                                                        <br>
                                                        <input type="text" id="txtFullname" name="txtFullname" value="" title="First Name" class="input-text ">
                                                    </div>
                                                    <div class="input-box name-lastname">
                                                        <label for="billing:lastname"> Địa chỉ email <span class="required">*</span> </label>
                                                        <br>
                                                        <input type="text" id="txtEmail" name="txtEmail" value="" title="Email" class="input-text">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input-box">
                                                    <label for="billing:company">Company</label>
                                                    <br>
                                                    <input type="text" id="txtCompany" name="txtCompany" value="" title="Công ty" class="input-text">
                                                </div>
                                                <div class="input-box">
                                                    <label for="billing:email">Số điện thoại <span class="required">*</span></label>
                                                    <br>
                                                    <input type="text" name="txtPhone" id="txtPhone" value="" title="Số Điện thoại" class="input-text validate-email">
                                                </div>
                                            </li>
                                            <li>
                                                <label for="billing:street1">Địa chỉ liên hệ <span class="required">*</span></label>
                                                <br>
                                                <input type="text" title="Địa chỉ liên hệ" name="txtAddress" id="txtAddress" value="" class="input-text">
                                            </li>

                                            <li class="">
                                                <label for="comment">Nhập nội dung<em class="required">*</em></label>
                                                <br>
                                                <div style="float:none" class="">
                                                    <textarea name="comment" id="txtContent" title="txtContent" class="required-entry input-text" cols="5" rows="3"></textarea>
                                                </div>
                                            </li>
                                            <li class="">

                                                <br>
                                                <div style="float:none" class="">
                                                    <div class="g-recaptcha" data-sitekey="6LcCXOgUAAAAAEN780SHQsVNM18UJbetkBqQNmCg"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </fieldset>
                                </li>
                                <p class="require"><em class="required">* </em>Bắt Buộc Nhập</p>

                                <div class="buttons-set">
                                    <button type="submit" title="Submit" class="button submit"> <span> Gửi </span> </button>
                                </div>
                            </ul>
                        </fieldset>
                    </div>
                }

            </section>
            <aside class="col-right sidebar col-sm-3 wow">
                <div class="block block-company">
                    <div class="block-title">Về chúng tôi </div>
                    <div class="block-content">
                        <ol id="recently-viewed-items">
                            @foreach (var i in Model.lstLeftMenu)
                            {
                                <li class="item even"><a href="/@i.SEOUrlRewrite-@i.BlogID">@i.BlogName</a></li>
                            }
                            <li class="item las"><strong><a href="/lien-he">Liên hệ</a></strong></li>

                        </ol>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".level0 a").removeClass("active");
            $("a#menulh").addClass("active");

        });

        //Check validation before submit
        function validateForm() {
            var flag = true;
            var txtFullname = $("#txtFullname").val();
            if (jQuery.trim(txtFullname).length <= 0) {
                alert("Vui Lòng nhập Họ tên");
                $("#txtFullname").focus();
                return false;
            }
            else {
                //$("#txtFullname").html("");
            }

            var txtPhone = $("#txtPhone").val();
            if (jQuery.trim(txtPhone).length <= 0) {
                alert("Vui Lòng nhập Số điện thoại");
                $("#txtPhone").focus();
                return false;
            }
            else {
                //$("#lbl_ETD").html("");
            }

            var txtContent = $("#txtContent").val();
            if (jQuery.trim(txtContent).length <= 0) {
                alert("Vui lòng nhập Nội dung cần hỗ trợ");
                $("#txtContent").focus();
                return false;
            }
            else {
                //$("#lbl_BookingNo").html("");
            }

            return flag;
        }
    </script>
}