
@{
    ViewBag.Title = "Not Found";
}
    <section class="content-wrapper">
        <div class="container">
            <div class="std">
                <div class="page-not-found">
                    <h2>404</h2>
                    <h3><img src="~/images/signal.png">Sorry! @ViewBag.Message!</h3>
                    <div><a href="" type="button" class="btn-home"><span>Back To Home</span></a></div>
                </div>
            </div>
        </div>
    </section>
