

    <ul id="products-list" class="products-list">
        <li class="item odd">
            <div class="col-item">
                <div class="product_image">
                    <div class="images-container">
                        <a class="product-image" title="Sample Product" href="product-detail.html"> <img src="~/images/blog-img1.jpg" class="img-responsive" alt="a"> </a>

                    </div>
                </div>
                <div class="product-shop">
                    <h2 class="product-name"><a title=" Sample Product" href="product-detail.html"> Sample Product </a></h2>
                    <div class="desc std">
                        <p>
                            Sed volutpat ac massa eget
                            lacinia.
                            Aenean volutpat lacus at dolor blandit
                        </p>
                        <p>
                            Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                            tincidunt mi. Vivamus dictum nec... <a class="link-learn" title="" href="#">Learn More</a>
                        </p>
                    </div>


                    <div class="actions">
                        <div class="col-md-6">
                            <ul class="list-info">
                                <li><span class="icon-eye-open">&nbsp;</span>120 Views</li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-info">

                                <li><span class="icon-comments">&nbsp;</span><a href="#">3 Comments</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </li>

        
    </ul>
