@model NoiThat.Models.DataModels.Product

<div class="product-shop col-lg-6 col-sm-6 col-xs-12">
    <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
    <div class="product-name">
        <h1>@Model.ProductName</h1>
    </div>
    <div class="ratings">
        <div class="rating-box">
            @{
                var rating = Model.Rating;
                var r = 0;
                if (rating == 1)
                {
                    r = 20;
                }
                if (rating == 2)
                {
                    r = 40;
                }
                if (rating == 3)
                {
                    r = 60;
                }
                if (rating == 4)
                {
                    r = 80;
                }
                if (rating == 5)
                {
                    r = 100;
                }
            }
            <div style="width:@r%" class="rating"></div>
        </div>
        <p class="rating-links"> <a href="#">1 Đánh giá</a> <span class="separator">|</span> <a href="#">Thêm đánh giá</a> </p>
    </div>
    <p class="availability in-stock">
        
        @if (Model.InStock == true)
        {
            <span>Còn Hàng</span>
        }
        else
        {
            <span>Hết Hàng</span>
        }
    </p>
    <div class="price-block">
        <div class="price-box">
            @*<p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> @Model.Price </span> </p>*@
            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> <i class="icon-phones"></i> 0979.77.11.33 </span> </p>
        </div>
    </div>
    <div class="short-description">
        <h2>Tổng Quan</h2>
        <p>
            @Model.ShortDescription
        </p>
    </div>
    <div class="add-to-box">
        <div class="add-to-cart">
            @*<label for="qty">Quantity:</label>
            <div class="pull-left">
                <div class="custom pull-left">
                    <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>
                    <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                    <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
                </div>
            </div>*@
            <button onClick="productAddToCartForm.submit(this)" class="button btn-cart" title="Add to Cart" type="button"><span><i class="icon-basket"></i> Liên Hệ</span></button>
        </div>
        <br />
        <div class="email-addto-box" style="clear:both; padding:8px 0px;">
            <ul class="add-to-links">
                <li> <a class="link-wishlist" href="#"><span>Yêu Thích</span></a></li>
                <li><span class="separator">|</span> <a class="email-friend" href="#"><span>Gởi Email</span></a></li>
            </ul>
            @*<p class="email-friend"><a href="#" class=""><span>Gởi Email</span></a></p>*@
        </div>
    </div>
    @*<div class="custom-box"><img alt="banner" src="../images/cus-img.png"></div>*@
</div>
