@model List<NoiThat.Models.DataModels.Category>
@using NoiThat.Utilities
@{
    Helpers h = new Helpers();
}


<div class="side-nav-categories">
    <div class="block-title"> Danh Mục </div>
    <!--block-title-->
    <!-- BEGIN BOX-CATEGORY -->
    <div class="box-content box-category">
        <ul>
            @foreach (var q in Model)
            {
                <li>
                    <a class="active" href="/san-pham/@q.SEOUrlRewrite-@q.CategoryID">@q.CategoryName</a> <span class="subDropdown minus"></span>
                    @foreach (var x in h.lstGetChildMenu(q.CategoryID))
                    {
                        <ul class="level0_415" style="display:block">
                            <li>
                                <a href="/san-pham/@x.SEOUrlRewrite-@x.CategoryID"> @x.CategoryName </a>
                            </li>
                        </ul>
                    }


                </li>
            }
        </ul>
    </div>
    <!--box-content box-category-->
</div>

