@model NoiThat.Models.ListProductViewModel2
@using NoiThat.Utilities
@{
    Helpers h = new Helpers();
}



    <div class="side-nav-categories">
        <div class="block-title"> Danh Mục </div>
        <!--block-title-->
        <!-- BEGIN BOX-CATEGORY -->
        <div class="box-content box-category">
            <ul>
                @foreach (var q in Model.categories)
                {
                    <li>
                        <a class="active" href="/san-pham/@q.SEOUrlRewrite-@q.CategoryID">@q.CategoryName</a> <span class="subDropdown minus"></span>
                        @foreach (var x in h.lstGetChildMenu(q.CategoryID))
                        {
                            <ul class="level0_415" style="display:block">
                                <li>
                                    <a href="/san-pham/@x.SEOUrlRewrite-@x.CategoryID"> @x.CategoryName </a>
                                </li>
                            </ul>
                        }


                    </li>
                }
            </ul>
        </div>
        <!--box-content box-category-->
    </div>

    <div class="block block-list block-viewed">
        <div class="block-title"><span>Sản phẩm đã xem</span> </div>
        <div class="block-content">
            @if (Model.listviewed.Count > 0)
            {
                <ol id="recently-viewed-items">
                    @foreach (var q in Model.listviewed)
                    {
                        <li class="item odd">
                            <p class="product-name"><a href="/chi-tiet-san-pham/@q.SEOUrlRewrite-@q.ProductID"> @q.ProductName</a></p>
                        </li>
                    }
                </ol>
            }
            else
            {
                <span class="text-danger" style="font-style:italic; padding-left:8px;">Bạn chưa xem sản phẩm nào</span>
            }
        </div>
    </div>


