@model List<NoiThat.Models.ListImage>
@using NoiThat.Utilities

<div class="product-img-box col-lg-6 col-sm-6 col-xs-12">
    <ul class="moreview" id="moreview">

        @foreach (var q in Model)
        {
            <li class="moreview_thumb thumb_1">
                <img class="moreview_thumb_image" src="@WebConstants.ImgProductImage\@q.ImageURL">
                <img class="moreview_source_image" src="@WebConstants.ImgProductImage\@q.ImageURL" alt="">
                <span class="roll-over">Di chuyển chuột vào hình để phóng to</span>
                <img style="position: absolute;" class="zoomImg" src="@WebConstants.ImgProductImage\@q.ImageURL">
            </li>
        }

   

    </ul>
    <div class="moreview-control">
        <a style="right: 42px;" href="javascript:void(0)" class="moreview-prev"></a>
        <a style="right: 42px;" href="javascript:void(0)" class="moreview-next"></a>
    </div>
</div>
