
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".level0 a").removeClass("active");
            $("a#menusp").addClass("active");

        });
    </script>
}