
@{
    ViewBag.Title = "Detail";
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="index.html" title="Go to Home Page">Home</a><span>&mdash;›</span></li>
                <li class=""> <a href="grid.html" title="Go to Home Page">Women</a><span>&mdash;›</span></li>
                <li class="category13"><strong>Tops &amp; Tees</strong></li>
            </ul>
        </div>
    </div>
</div>



@section scripts
{
    <script>
        $(document).ready(function () {

            $(".level0 a").removeClass("active");
            $("a#menusp").addClass("active");

        });
    </script>
}